*{
  box-sizing: border-box;
  margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
display:flex;
flex-direction:row;
margin-top:1em;
background-color: black ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-app{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

@media only screen and (max-width: 886px) {
                                        body{
                                          background: black;
                                          color:white;
                                          display:block;
                                        }
                                        .main-app{
                                          display: flex;
                                          flex-direction:column;
                                          margin-left:0%;
                                          margin-right:0%;
                                          margin-top:0%;
                                        }
                                          .LeftPanel{
                                            font-size:2vw;
                                            padding-top:4vh;
                                            width:100%
                                        }
                                        .username{
                                          font-size:8vw;
                                          text-align:center;
                                          padding-top:1vw;
                                          padding-bottom:2vw;
                                        }
                                        .avatar-class{
                                        text-align: center;
                                        }
                                        .avatar-class>img{
                                        border-radius: 100%;
                                        }
                                        .desc{
                                          font-size:4vw;
                                          word-wrap: break-word;
                                          text-align:center;      
                                        }
                                        .CODEdecorate{
                                          background-color:rgb(131, 8, 114);
                                          color:rgb(187, 255, 0);
                                          padding-top:1vh;
                                          padding-bottom:1vh;
                                          font-family:'Courier New', Courier, monospace;
                                        }

}